@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-bodyBg;
  }
  .disabledName {
    @apply cursor-not-allowed;
    filter: grayscale(1);
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
  }
}
